/* board styles */

#board td {
    width: 50px;
    height: 50px;
    border: solid 2px black;
    background-color: lightgrey;
    opacity: 1;
    transition: opacity 500ms linear;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* game piece styles */

.piece {
    margin: 5px;
    width: 75%;
    height: 75%;
    border-radius: 50%; /*circle?*/
}

/* player 1 piece color */

.piece.p1{
    background-color: yellow;
}

/*player 2 piece color */

.piece.p2{
    background-color: red;
}

/*clickable area styles */

#column-top td {
    border:double 1px lightslategray;
    }

#column-top td:hover{
    background-color: skyblue;
}